### Load and Normalize the data.

In [51]:
import pandas as pd
import json

# Load and normalize users data
users_df = pd.read_json('/Users/vishruti/workspace/fetch-rewards-analysis/data_folder/users.json', lines=True)
users_df = pd.json_normalize(users_df.to_dict(orient='records'), sep='_')

# Load and normalize brands data
brands_df = pd.read_json('/Users/vishruti/workspace/fetch-rewards-analysis/data_folder/brands.json', lines=True)
brands_df = pd.json_normalize(brands_df.to_dict(orient='records'), sep='_')

# Load and normalize receipt data
receipts_df = pd.read_json('/Users/vishruti/workspace/fetch-rewards-analysis/data_folder/receipts.json', lines=True)
receipts_df = pd.json_normalize(receipts_df.to_dict(orient='records'), sep='_')

# Expand 'rewardsReceiptItemList' into separate rows
receipt_items_df = receipts_df.explode('rewardsReceiptItemList')
receipt_items_df = pd.json_normalize(receipt_items_df['rewardsReceiptItemList'])

### Structural overview of the data:

In [49]:
print("Users table:")
print(users_df.info())
print("\nBrands table:")
print(brands_df.info())
print("\nReceipts table:")
print(receipts_df)

Users table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   active             495 non-null    bool
 1   role               495 non-null    object
 2   signUpSource       447 non-null    object
 3   state              439 non-null    object
 4   _id_$oid           495 non-null    object
 5   createdDate_$date  495 non-null    int64
 6   lastLogin_$date    433 non-null    float64
 7   lastLogin          0 non-null      float64
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 27.7+ KB
None

Brands table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   barcode       1167 non-null   int64
 1   category      1012 non-null   object
 2   categoryCode  517 non-null    object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    float64
 5   brandCode     933 non-null    object
 6   _id_$oid      1167 non-null   object
 7   cpg_$id_$oid  1167 non-null   object
 8   cpg_$ref      1167 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 82.2+ KB
None

Receipts table:
      bonusPointsEarned                            bonusPointsEarnedReason  \
0                 500.0  Receipt number 2 completed, bonus point schedu...
1                 150.0  Receipt number 5 completed, bonus point schedu...
2                   5.0                         All-receipts receipt bonus
3                   5.0                         All-receipts receipt bonus
4                   5.0                         All-receipts receipt bonus
...                 ...                                                ...
1114               25.0                        COMPLETE_NONPARTNER_RECEIPT
1115                NaN                                                NaN
1116                NaN                                                NaN
1117               25.0                        COMPLETE_NONPARTNER_RECEIPT
1118                NaN                                                NaN

      pointsEarned  purchasedItemCount  \
0            500.0                 5.0
1            150.0                 2.0
2              5.0                 1.0
3              5.0                 4.0
4              5.0                 2.0
...            ...                 ...
1114          25.0                 2.0
1115           NaN                 NaN
1116           NaN                 NaN
1117          25.0                 2.0
1118           NaN                 NaN

                                 rewardsReceiptItemList rewardsReceiptStatus  \
0     [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
1     [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
2     [{'needsFetchReview': False, 'partnerItemId': ...             REJECTED
3     [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
4     [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
...                                                 ...                  ...
1114  [{'barcode': 'B076FJ92M4', 'description': 'mue...             REJECTED
1115                                                NaN            SUBMITTED
1116                                                NaN            SUBMITTED
1117  [{'barcode': 'B076FJ92M4', 'description': 'mue...             REJECTED
1118                                                NaN            SUBMITTED

      totalSpent                    userId                  _id_$oid  \
0          26.00  5ff1e1eacfcf6c399c274ae6  5ff1e1eb0a720f0523000575
1          11.00  5ff1e194b6a9d73a3a9f1052  5ff1e1bb0a720f052300056b
2          10.00  5ff1e1f1cfcf6c399c274b0b  5ff1e1f10a720f052300057a
3          28.00  5ff1e1eacfcf6c399c274ae6  5ff1e1ee0a7214ada100056f
4           1.00  5ff1e194b6a9d73a3a9f1052  5ff1e1d20a7214ada1000561
...          ...                       ...                       ...
1114       34.96  5fc961c3b8cfca11a077dd33  603cc0630a720fde100003e6
1115         NaN  5fc961c3b8cfca11a077dd33  603d0b710a720fde1000042a
1116         NaN  5fc961c3b8cfca11a077dd33  603cf5290a720fde10000413
1117       34.96  5fc961c3b8cfca11a077dd33  603ce7100a7217c72c000405
1118         NaN  5fc961c3b8cfca11a077dd33  603c4fea0a7217c72c000389

      createDate_$date  dateScanned_$date  finishedDate_$date  \
0        1609687531000      1609687531000        1.609688e+12
1        1609687483000      1609687483000        1.609687e+12
2        1609687537000      1609687537000                 NaN
3        1609687534000      1609687534000        1.609688e+12
4        1609687506000      1609687506000        1.609688e+12
...                ...                ...                 ...
1114     1614594147000      1614594147000                 NaN
1115     1614613361873      1614613361873                 NaN
1116     1614607657664      1614607657664                 NaN
1117     1614604048000      1614604048000                 NaN
1118     1614565354962      1614565354962                 NaN

      modifyDate_$date  pointsAwardedDate_$date  purchaseDate_$date  \
0        1609687536000             1.609688e+12        1.609632e+12
1        1609687488000             1.609687e+12        1.609601e+12
2        1609687542000                      NaN        1.609632e+12
3        1609687539000             1.609688e+12        1.609632e+12
4        1609687511000             1.609688e+12        1.609601e+12
...                ...                      ...                 ...
1114     1614594148000                      NaN        1.597622e+12
1115     1614613361873                      NaN                 NaN
1116     1614607657664                      NaN                 NaN
1117     1614604049000                      NaN        1.597622e+12
1118     1614565354962                      NaN                 NaN

      finishedDate  pointsAwardedDate  purchaseDate
0              NaN                NaN           NaN
1              NaN                NaN           NaN
2              NaN                NaN           NaN
3              NaN                NaN           NaN
4              NaN                NaN           NaN
...            ...                ...           ...
1114           NaN                NaN           NaN
1115           NaN                NaN           NaN
1116           NaN                NaN           NaN
1117           NaN                NaN           NaN
1118           NaN                NaN           NaN

[1119 rows x 18 columns]

### Missing values across all the datasets

In [50]:
print("\nMissing values for Users:", users_df.isnull().sum() )
print("\nMissing values for brands Data:", brands_df.isnull().sum() )
print("\nMissing values for Receipts Data:", receipts_df.isnull().sum())

Missing values for Users: active                 0
role                   0
signUpSource          48
state                 56
_id_$oid               0
createdDate_$date      0
lastLogin_$date       62
lastLogin            495
dtype: int64

Missing values for brands Data: barcode           0
category        155
categoryCode    650
name              0
topBrand        612
brandCode       234
_id_$oid          0
cpg_$id_$oid      0
cpg_$ref          0
dtype: int64

Missing values for Receipts Data: bonusPointsEarned           575
bonusPointsEarnedReason     575
pointsEarned                510
purchasedItemCount          484
rewardsReceiptItemList      440
rewardsReceiptStatus          0
totalSpent                  435
userId                        0
_id_$oid                      0
createDate_$date              0
dateScanned_$date             0
finishedDate_$date          551
modifyDate_$date              0
pointsAwardedDate_$date     582
purchaseDate_$date          448
finishedDate               1119
pointsAwardedDate          1119
purchaseDate               1119
dtype: int64

### Duplicate values across all datasets:

In [63]:
print("Duplicate values in Users Table:", users_df.duplicated().sum())
print("Duplicate values in Brands Table:", brands_df.duplicated().sum())
print("Duplicate values in Receipts Taable:", receipt_items_df.duplicated().sum())

Duplicate values in Users Table: 283
Duplicate values in Brands Table: 0
Duplicate values in Receipts Taable: 1358

### Evaluate any inconsistencies in date format

In [ ]:
# converting columns to appropriate datetime format
users_df['createdDate.$date'] = pd.to_datetime(users_df['createdDate.$date'], errors='coerce')
receipts_df['dateScanned.$date'] = pd.to_datetime(receipts_df['dateScanned.$date'], errors='coerce')
receipts_df['createDate.$date'] = pd.to_datetime(receipts_df['createDate.$date'], errors='coerce')
receipts_df['finishedDate.$date'] = pd.to_datetime(receipts_df['finishedDate.$date'], errors='coerce')

# Find rows where date conversion failed
invalid_dates_users = users_df[users_df['createdDate.$date'].isna()]
invalid_dates_receipts = receipts_df[receipts_df['dateScanned.$date'].isna()]
invalid_dates_receipts = receipts_df[receipts_df['createDate.$date'].isna()]
invalid_dates_receipts = receipts_df[receipts_df['finishedDate.$date'].isna()]

if invalid_dates_users.empty:
    print("No inconsistent date formats found in users")
else:
    print("Inconsistent date formats found in users")
    print(invalid_dates_users)

if invalid_dates_receipts.empty:
    print("No inconsistent date formats found in receipts")
else:
    print("Inconsistent date formats found in receipts")
    print(invalid_dates_receipts)

No inconsistent date formats found in users
Inconsistent date formats found in receipts
      bonusPointsEarned                            bonusPointsEarnedReason  \
2                   5.0                         All-receipts receipt bonus
12                150.0  Receipt number 5 completed, bonus point schedu...
13                750.0  Receipt number 1 completed, bonus point schedu...
15                  NaN                                                NaN
17                750.0  Receipt number 1 completed, bonus point schedu...
...                 ...                                                ...
1114               25.0                        COMPLETE_NONPARTNER_RECEIPT
1115                NaN                                                NaN
1116                NaN                                                NaN
1117               25.0                        COMPLETE_NONPARTNER_RECEIPT
1118                NaN                                                NaN

     pointsEarned  purchasedItemCount  \
2               5                 1.0
12         8850.0                10.0
13          750.0                11.0
15            NaN                 0.0
17          750.0                 1.0
...           ...                 ...
1114         25.0                 2.0
1115          NaN                 NaN
1116          NaN                 NaN
1117         25.0                 2.0
1118          NaN                 NaN

                                 rewardsReceiptItemList rewardsReceiptStatus  \
2     [{'needsFetchReview': False, 'partnerItemId': ...             REJECTED
12    [{'barcode': '034100573065', 'description': 'M...              FLAGGED
13    [{'barcode': '075925306254', 'competitiveProdu...             REJECTED
15    [{'needsFetchReview': True, 'needsFetchReviewR...              FLAGGED
17    [{'barcode': '075925306254', 'competitiveProdu...              FLAGGED
...                                                 ...                  ...
1114  [{'barcode': 'B076FJ92M4', 'description': 'mue...             REJECTED
1115                                                NaN            SUBMITTED
1116                                                NaN            SUBMITTED
1117  [{'barcode': 'B076FJ92M4', 'description': 'mue...             REJECTED
1118                                                NaN            SUBMITTED

     totalSpent                    userId                  _id.$oid  \
2         10.00  5ff1e1f1cfcf6c399c274b0b  5ff1e1f10a720f052300057a
12       290.00  5ff1e194b6a9d73a3a9f1052  5ff1e1b60a7214ada100055c
13         1.00  5f9c74f7c88c1415cbddb839  5f9c74f70a7214ad07000037
15         0.00  5ff1e1e9b6a9d73a3a9f10f6  5ff1e1e90a7214ada1000569
17         1.00  5ff1e1b4cfcf6c399c274a54  5ff1e1b40a7214ada100055b
...         ...                       ...                       ...
1114      34.96  5fc961c3b8cfca11a077dd33  603cc0630a720fde100003e6
1115        NaN  5fc961c3b8cfca11a077dd33  603d0b710a720fde1000042a
1116        NaN  5fc961c3b8cfca11a077dd33  603cf5290a720fde10000413
1117      34.96  5fc961c3b8cfca11a077dd33  603ce7100a7217c72c000405
1118        NaN  5fc961c3b8cfca11a077dd33  603c4fea0a7217c72c000389

                  createDate.$date             dateScanned.$date  \
2    1970-01-01 00:26:49.687537000 1970-01-01 00:26:49.687537000
12   1970-01-01 00:26:49.687478000 1970-01-01 00:26:49.687478000
13   1970-01-01 00:26:44.089079000 1970-01-01 00:26:44.089079000
15   1970-01-01 00:26:49.687529000 1970-01-01 00:26:49.687529000
17   1970-01-01 00:26:49.687476000 1970-01-01 00:26:49.687476000
...                            ...                           ...
1114 1970-01-01 00:26:54.594147000 1970-01-01 00:26:54.594147000
1115 1970-01-01 00:26:54.613361873 1970-01-01 00:26:54.613361873
1116 1970-01-01 00:26:54.607657664 1970-01-01 00:26:54.607657664
1117 1970-01-01 00:26:54.604048000 1970-01-01 00:26:54.604048000
1118 1970-01-01 00:26:54.565354962 1970-01-01 00:26:54.565354962

     finishedDate.$date  modifyDate.$date  pointsAwardedDate.$date  \
2                   NaT     1609687542000                      NaN
12                  NaT     1609687478000                      NaN
13                  NaT     1609687494000             1.604089e+12
15                  NaT     1609687529000                      NaN
17                  NaT     1609687477000             1.609687e+12
...                 ...               ...                      ...
1114                NaT     1614594148000                      NaN
1115                NaT     1614613361873                      NaN
1116                NaT     1614607657664                      NaN
1117                NaT     1614604049000                      NaN
1118                NaT     1614565354962                      NaN

      purchaseDate.$date
2           1.609632e+12
12          1.612366e+12
13          1.604003e+12
15                   NaN
17          1.609601e+12
...                  ...
1114        1.597622e+12
1115                 NaN
1116                 NaN
1117        1.597622e+12
1118                 NaN

[551 rows x 15 columns]